canvas{
  width: 400pt;
  height:300pt;
  border: 3px solid black ;
  margin:5px;
}
body{
  background-image:url("back.jpg");
}
.button {
  background-color: red;
  color: white;
  padding: 7px 10px;
  margin: 8px 0;
  border: solid 1.5px red;
  cursor: pointer;
  width: 24%;
  border-radius : 8px;
}
.button:hover{
  padding-right: 25px;
  background-color: white;
  color: black;
  border: solid 1.5px red;
}
.button:active {
  background-color: red;
  color : white;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
